/* Navbar.css */

:root {
    
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #F5CB5C;

}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar {
  /* box-shadow: rgba(100, 100, 100, 0.45) 0px 25p x 20px -20px; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    background-color: black;
    /* background-color: var(--second-bg-color); */
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
/* .navbar:hover { */
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25p x 20px -20px; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    /* background-color: black; */
   
  /* } */
  
  .logo img{
    box-shadow: var(--main-color) 0px 25px 20px -20px;
    width: 80px;
    border-radius: 25%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    /* color: black; */
    color: #484848;
    font-weight: bold;
    padding: 15px;
  }
  
  .nav-links a:hover {
    color: var(--main-color);
    border-bottom: 12px #484848;
  }
  
/* button css */

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .login-button, .signup-button {
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-button {
    background-color: #3498db;
    color: #fff;
  }
  
  .signup-button {
    background-color: #27ae60;
    color: #fff;
  }
  
  .login-button:hover, .signup-button:hover {
    background-color: #2980b9;
  }