.parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 50px;
    gap: 25px;
    background-image: url('https://img.freepik.com/free-vector/abstract-red-circle-black-background-technology_1142-9839.jpg');
}

.userInput {
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    outline: none;
    padding-left: 20px;
}
.blogInput {
    outline: none;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}
.blogDescInput {
    outline: none;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}
.blogTitleInput {
    outline: none;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    color: white;
    background-color: #e64c3c ;
    cursor: pointer;
    border: none;
    border: 2px solid white;
}